<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span><h2>OMDB Search</h2></span>
  <div class="spacer"></div>
  <div class="search-panel">
    <label for="searchText" class="default-label">Search a movie</label>
    <input type="text" id="searchInput" [(ngModel)]="searchText" placeholder="" name="assetMake" class="default-text-input"/>
    <input type="button" class="default-button" (click)="getSearchedMovies()" value="Search" />
  </div>


</div>
<div class="content" role="main">
  <app-movie-list [movieList]="movies" [isHavingASearchedText]="isHavingASearchedText" [error]="searchError"
    (updateMovieListForGetDetails)="onUpdateMovieListForGetDetails($event)" (goToFirstPage)="onGoToFirstPage($event)"
    (goToPreviousPage)="onGoToPreviousPage($event)" (goToNextPage)="onGoToNextPage($event)"
    (goToLastPage)="onGoToLastPage($event)" [searchResultCount]="searchResultCount">
  </app-movie-list>
</div>
